alloy:
  stabilityLevel: public-preview
  configMap:
    create: true
    content: |-
      logging {
        level  = "info"
        format = "logfmt"
      }

      pyroscope.receive_http "default" {
        http {
          listen_address = "0.0.0.0"
          listen_port    = 4040
        }
        forward_to = [pyroscope.write.grafana_cloud.receiver]
      }

      pyroscope.write "grafana_cloud" {
        endpoint {
          url = sys.env("PYROSCOPE_SERVER_ADDRESS")
          basic_auth {
            username = sys.env("GC_USER")
            password = sys.env("GC_PASSWORD")
          }
        }
      }

  extraArgs:
    - --stability.level=public-preview
  
  extraPorts:
    - name: "pyroscope-http"
      port: 4040
      targetPort: 4040
      protocol: "TCP"

  envFrom:
    - configMapRef:
        name: gc-config